{{ define "template/components/footer.html" }}

<style>
  .underline {
    text-decoration: underline;
  }
</style>

  <footer class="page-footer grey lighten-3">
    <div class="container">
      <ul class="pagination center">
        <li><i class="material-icons black-text">chevron_left</i></li>
        <li><a href="https://www.linkedin.com/in/enrico-papsch-di-giacomo/" target="_blank" class="underline grey-text">LinkedIn</a></li>
        <li><a href="https://github.com/EnricoPDG/" class="underline grey-text" target="_blank">Github</a></li>
        <li><a href="/about" class="underline grey-text" target="_blank" >About</a></li>
        <li><i class="material-icons black-text">chevron_right</i></li>
      </ul>
      <div class="container black-text center">
        Enrico Papsch Di Giacomo - 2023</a>
      </div>
    </div>
  </footer>

  {{ template "template/components/loader.html"}}

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../assets/js/materialize.js"></script>
  <script src="../../assets/js/init.js"></script>
  <script src="../../assets/js/dark-mode.js"></script>

  </body>
</html>

{{ end }}
