{{ define "template/pages/about.html"}}
{{ template "template/components/head.html"}}
{{ template "template/components/nav.html"}}

<main>
  <body class="grey lighten-3">
    <div class="section">
      <h1 class="center" id="text-gradient">About</h1>
      <div class="container">
      <p>At the beginning of 2019, I started studying technology in general but programming and cloud were my focus.
      <br>
  In the first half of 2021 I started my dregree in Information System (Computer Science). My first internship was in July 2021, at the company Astúrias Material para Construção until December 2022, where I managed to develop my knowledge in Web with PHP and other tools such as Wordpress and Elementor. I also used front-end with JS, HTML, CSS, creating the e-commerce of Astúrias.

      <br>
  In December 2021 I received a proposal as an IT intern at Univar Solutions and stayed in the company until the beginning of June, doing services such as service desk and automation of plans with VBA and among other IT-related services.

      <br>
  In my spare time, I have always studied Go, Python, DevOps concepts, API...

      <br>
  In June 2022 I passed the selection process for Intern at Itaú Unibanco and was assigned to the PAM squad where we use tools such as Vault, Cyberark. I also help with process automation and creation of API using Python.</p>
      </div>
    </div>
</main>

{{ template "template/components/footer.html"}}

{{ end }}
