{{ define "template/pages/index.html" }}
{{ template "template/components/head.html" }}
{{ template "template/components/nav.html"}}

<main>
  <body class="grey lighten-3">
    <div class="grey lighten-3 section no-pad-bot" id="index-banner" style="margin-bottom: 20ch">
     <div class="container">
      <div class="section">
        <br><br>
        <h1 class="header center" id="text-gradient">Hi, Welcome to my portfolio & blog.</h1>
      </div>

      <div class="divider"></div>

      <div class="section">
        <h1 class="center" id="text-gradient">Articles:</h1>
        <h2 class="center">Nothing Yet</h2>
      </div>
    </div>
</main>


{{ template "template/components/footer.html" }}
{{ end }}
