{{ define "template/pages/skills.html"}}
{{ template "template/components/head.html"}}
{{ template  "template/components/nav.html"}}

<body class="grey lighten-3">

  <div class="section">

    <h1 class="center" id="text-gradient">Skills</h1>
    <div class="container">

     <div class="row">
        <div class="col s12 m6">
          <div class="card trasperency">
            <div class="card-content black-text">
              <span class="card-title blue-text">Go</span>
                <p>Experience consuming and creating API with framework like Gin, automation and other types of projects.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card trasperency">
            <div class="card-content black-text">
              <span class="card-title activator green-text">Python</span>
              <p>Experience consuming and creating API with fastapi, automation and using most usage libraries.</p>
            </div>
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col s12 m6">
          <div class="card trasperency">
            <div class="card-content black-text">
              <span class="card-title activator orange-text">AWS</span>
                <p>Certificate Cloud Practitioner, knowing how to use IAM, EC2, Lambda, ECS and many other services and concepts.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card trasperency">
            <div class="card-content black-text">
              <span class="card-title activator black-text">Vault Hashicorp</span>
              <p>Experience managing and monitoring Vault also how system of vault works, creating secret engine, auth methods...</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card trasperency">
            <div class="card-content black-text">
              <span class="card-title activator purple-text">Terraform</span>
                <p>Have a little expecience with, but is a technology that I'm studying.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card trasperency">
            <div class="card-content black-text">
              <span class="card-title activator blue-text">CI/CD</span>
              <p>Have a little expecience with but is a technology that i'm studying.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col s12 m6">
          <div class="card trasperency">
            <div class="card-content black-text">
              <span class="card-title activator red-text">Security</span>
                <p>Have expecience working with IAM, I know basic concepts of security and always studying more and more.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card trasperency">
            <div class="card-content black-text">
              <span class="card-title activator green-text">DevOps & DevSecOps</span>
              <p>Always learning new technologys and concepts of DevOps and DevSecOps.</p>
            </div>
          </div>
        </div>
      </div>


      
    </div>
</div>
{{ template "template/components/footer.html"}}
{{ end }}
